<?xml version="1.0" encoding="utf-8"?>
<!-- Hanya build debug: izinkan HTTP ke server lokal (emulator 10.0.2.2) untuk pengujian. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="UnusedAttribute" />
</manifest>
